<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Welcome to tinyURLclone!</h1>
            <%= render 'tinyurls/tiny_url_form' %>
        </div>
    </div>
</div>